<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Choose Prize</title>
</head>
<body>

<header>
    <h1>TV Show Game Prize Selection!</h1>
</header>

<main>
    <h2>Select one of the boxes:</h2>

    <form action="Result.html" th:action="@{play}">

        <div class="choice-container">
            <div>
                <label><input type="radio" name="userChoice1" th:value="Box1">Box 1</label><br/>
                <img src="../static/images/box1.png" class="choice1" th:src="@{images/box1.png}" alt="box1">
            </div>

            <div>
                <label><input type="radio" name="userChoice1" th:value="Box2">Box 2</label><br/>
                <img src="../static/images/box2.png" class="choice2" th:src="@{images/box2.png}" alt="box2">
            </div>

            <div>
                <label><input type="radio" name="userChoice1" th:value="Box3">Box 3</label><br/>
                <img src="../static/images/box3.png" class="choice3" th:src="@{images/box3.png}" alt="box3">
            </div>
        </div>

        <p class="play-button">
            <input type="submit" value = "PLAY">
        </p>
    </form>

</main>


</body>
</html>